@model AccountSecurityViewModel
@inject SignInManager<UserEntity> _signInManager
@inject UserManager<UserEntity> _userManager


@{
    var user = await _signInManager.UserManager.GetUserAsync(User);
    var ProfileImageUrl = user != null ? user.ProfileImageUrl : null;
}

@{
    ViewData["Title"] = $"{Model.BasicInfoForm?.FirstName} {Model.BasicInfoForm?.LastName}";
}

<div class="container">
    <section id="security">
        <aside>
            <div class="profile-info">
                

                <div class=" profile-info-img">

                    <img src="~/images/uploads/@user!.ProfileImageUrl" alt="@Model.ProfileInfo.FirstName @Model.ProfileInfo.LastName" />
                    <form enctype="multipart/form-data" method="post" asp-action="UploadProfilImage" asp-controller="Account">
                        <input id="fileUploader" type="file" name="file" hidden />
                        <label for="fileUploader" class="btn btn-circle btn-circle-sm">
                            <i class="fa-solid fa-arrows-rotate"></i>
                        </label>
                    </form>

                </div>

                <h5>@Model.BasicInfoForm?.FirstName @Model.BasicInfoForm?.LastName</h5>
                <p>@Model.BasicInfoForm?.Email</p>
            </div>

            <nav>
                <a class="btn-transparent" asp-controller="Account" asp-action="Details"><i class="fa-solid fa-gear"></i>Account Details</a>
                <a class="btn-theme-s" asp-controller="Account" asp-action="Security"><i class="fa-solid fa-lock"></i>Security</a>
                <a class="btn-transparent" asp-controller="Account" asp-action="GetSavedCourses"><i class="fa-regular fa-bookmark"></i>Saved Courses</a>
                <a class="btn-transparent" asp-controller="Auth" asp-action="SignOut"><i class="fa-solid fa-right-from-bracket"></i>Sign Out</a>


            </nav>
        </aside>

        <div class="security">
            <section class="security-info">
               
             <partial name="~/Views/Shared/Sections/_StatusMessage.cshtml" />

                <form id="securityPasswordForm" method="post" asp-controller="Account" asp-action="Security" novalidate>
                    <h2>Security</h2>
                    <h5>Password</h5>

                    <div class="content">
                        <div id="current-password" class="input-group">
                            <label asp-for="PassForm.CurrentPassword"></label>
                            <span asp-validation-for="PassForm.CurrentPassword"></span>
                            <input asp-for="PassForm.CurrentPassword" />
                        </div>

                        <div id="new-password" class="input-group">
                            <label asp-for="PassForm.NewPassword"></label>
                            <span asp-validation-for="PassForm.NewPassword"></span>
                            <input asp-for="PassForm.NewPassword" />
                        </div>

                        <div id="confirm-new-password" class="input-group">
                            <label asp-for="PassForm.ConfirmNewPassword"></label>
                            <span asp-validation-for="PassForm.ConfirmNewPassword"></span>
                            <input asp-for="PassForm.ConfirmNewPassword" />

                        </div>

                        <div class="form-buttons">
                            <button class="btn-gray" type="reset">Cancel</button>
                            <button class="btn-theme" type="submit">Change password</button>
                        </div>
                    </div>
                </form>
            </section>
            <hr />
            <section class="delete-account">

                <form method="post" asp-controller="Account" asp-action="DeleteAccount" novalidate>
                    <h5>Delete account</h5>
                    <p>When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we’ll send you a link to reactivate your account.</p>

                    <div class="content">
                        <div id="form-terms" class="checkbox">
                            <div class="checkbox-group">
                                <input asp-for="DeleteForm.IsDeleted" />
                                <label asp-for="DeleteForm.IsDeleted">Yes, I want to delete my account.</label>
                            </div>

                            <span asp-validation-for="DeleteForm.IsDeleted"> </span>
                        </div>
                    </div>

                    <div class="form-buttons">
                        <button class="btn-delete" type="submit">Delete</button>
                    </div>
                </form>
            </section>
        </div>
    </section>
</div>
<script defer src="~/js/validation.js"></script>