@model CoursesIndexModel




<div class="courses">

    @foreach (var course in Model.Courses)
    {
        <a asp-action="Details" asp-controller="Courses" asp-route-id="@course.Id">

            <div class="course-card">
                <div class="course-card_img">
                    <img class="img-card" src="~/images/courses/@course.Img" alt="Course card">
                    @if (course.IsBestseller)
                    {
                        <div class="bestseller">
                            <p>Bestseller</p>
                        </div>
                    }
                    <img class="bookmark" src="images/courses/bookmark.svg" alt="bookmark">
                </div>
                <div class="course-card-content">
                    <h2 class="h5">@course.Title</h2>
                    <p class="text-s">@course.Author</p>
                    <div class="price">

                        @if (course.DiscountPrice <= 0)
                        {
                            <p class="original-price">$@course.Price</p>
                        }

                        @if (course.DiscountPrice > 0)
                        {

                            <p class="original-price"></p>
                            <p class="discounted-price">$@course.DiscountPrice</p>
                            <p class="discounted-price-with-line">$@course.Price</p>
                        }
                    </div>

                </div>
                <div class="line"></div>
                <div class="course-card_icons">
                    <div>
                        <i class="fa-regular fa-clock"></i>
                        <p>@course.Hours hours</p>
                    </div>
                    <div>
                        <i class="fa-regular fa-thumbs-up"></i>
                        <p>
                            @($"{course.LikesInProcent * 100:0}%")
                            @($"{course.LikesInNumbers / 1000:N1}K")
                        </p>
                    </div>
                </div>
            </div>
        </a>

    }

</div>

@* <div class="courses">
    @foreach (var course in Model.Courses)
    {
        <div class="course">
            <div class="course-image">
                <img src="@course.Image.ImageUrl" alt="@course.Image.AltText">
            </div>
            <div class="save-icon">
                <i class="@course.Icon"></i>
            </div>

            @if (course.Tag != null)
            {
                <div class="tag">
                    <p>@course.Tag</p>
                </div>
            }
            else
            {
                <div></div>
            }


            <div class="course-info">
                <h2>@course.Title</h2>
                <p class="author">@course.Author</p>
                @if (course.SalesPrice != null)
                {
                    <div class="price-with-sale">
                        <p class="sales-price">$@course.SalesPrice</p>
                        <p class="regular-price">$@course.Price</p>
                    </div>
                }
                else
                {
                    <p class="price">$@course.Price</p>
                }
                <div class="card-bottom">
                    <p class="duration"><i class="fa-regular fa-clock"></i> @course.Duration</p>
                    <p class="rating"><i class="fa-regular fa-thumbs-up"></i> @course.Rating</p>
                </div>
            </div>
        </div>
    }
</div> *@





<nav aria-label="course pagination">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>

