@model CourseRegistrationFormViewModel
@{
    ViewData["Title"] = "Create";
}



<span class="information mt-3 mb-3">
    @if (TempData["StatusCode"] != null)
    {
        <span class="alert alert-danger">Status Code: @TempData["StatusCode"]</span>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <span class="alert alert-success">@TempData["SuccessMessage"]</span>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <span class="alert alert-danger">@TempData["ErrorMessage"]</span>
    }
</span>



@if (ViewData["Status"]?.ToString() == "ConnectionFailed")
{
    <span class="alert alert-danger">
        Unable to contact the server. Please try again later.
        @if (ViewData["StatusCode"] != null)
        {
            <text>Status Code: @ViewData["StatusCode"]</text>
        }
    </span>
}
else if (ViewData["Status"]?.ToString() == "Success")
{
    <span class="alert alert-success d-flex align-items-center justify-content-center">
        Course is created!
    </span>
}
else if (ViewData["Status"]?.ToString() == "AlreadyExist")
{
    <span class="alert alert-warning d-flex align-items-center justify-content-center">
        Courses already exist!
    </span>
}
else if (ViewData["Status"]?.ToString() == "Invalid")
{
    <span class="alert alert-danger d-flex align-items-center justify-content-center">
        You must enter a valid course!
    </span>
}
else if (ViewData["Status"]?.ToString() == "Unauthorized")
{
    <span class="alert alert-danger d-flex align-items-center justify-content-center">
        An error occurred. Please contact the web admin.
    </span>
}
else if (ViewData["StatusCode"] != null)
{
    <span class="alert alert-danger d-flex align-items-center justify-content-center">
        Error: @ViewData["StatusCode"]
    </span>
}



<section class="create">
    <div class="container">
        <h2>Create a Course</h2>
        <form asp-action="Create" asp-controller="Courses" method="post">
            <div class="mb-3">
                <label for="Title" class="form-label">Title</label>
                <input type="text" class="form-control" id="Title" name="Title" asp-for="Title">
            </div>

            <div class="mb-3">
                <label for="Price" class="form-label">Price</label>
                <input type="number" class="form-control" id="Price" name="Price" asp-for="Price">
            </div>

            <div class="mb-3">
                <label for="DiscountPrice" class="form-label">Discount Price</label>
                <input type="number" class="form-control" id="DiscountPrice" name="DiscountPrice" asp-for="DiscountPrice">
            </div>

            <div class="mb-3">
                <label for="LikesInNumbers" class="form-label">Likes (in numbers)</label>
                <input type="number" class="form-control" id="LikesInNumbers" name="LikesInNumbers" asp-for="LikesInNumbers">
            </div>

            <div class="mb-3">
                <label for="LikesInProcent" class="form-label">Likes (in percentage)</label>
                <input type="number" class="form-control" id="LikesInProcent" name="LikesInProcent" asp-for="LikesInProcent">
            </div>

            <div class="mb-3">
                <label for="Hours" class="form-label">Hours</label>
                <input type="number" class="form-control" id="Hours" name="Hours" asp-for="Hours">
            </div>

            <div class="mb-3">
                <label for="Author" class="form-label">Author</label>
                <input type="text" class="form-control" id="Author" name="Author" asp-for="Author">
            </div>

            <div class="mb-3">
                <label for="IsBestseller" class="form-label">Is Bestseller</label>
                <select class="form-select" id="IsBestseller" name="IsBestseller" asp-for="IsBestseller">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>





            <div class="mb-3">
                <label for="Img" class="form-label">Image Name</label>
                <input type="text" class="form-control" id="Img" name="Img" asp-for="Img">
            </div>

            @*

            <div class="mb-3">
            <label asp-for="CategoryId" class="form-label">Category</label>
            <select class="form-select" id="CategoryId" name="IsBestseller" asp-for="CategoryId">
            <option selected>All Categories</option>
            <option value="Frontend Development">Frontend Development</option>
            <option value="App Development">App Development</option>
            <option value="HTML & CSS">HTML & CSS</option>
            <option value="Python">Python</option>
            <option value="Game Development">Game Development</option>

            </select>
            </div> *@




            <div class="mb-3">
                <label for="CategoryId" class="form-label">CategoryId from 1 to 5</label>
                <input type="text" class="form-control" id="CategoryId" name="CategoryId" asp-for="CategoryId">
            </div>

            <button type="submit" class="btn btn-theme-s">Create</button>
        </form>
    </div>
</section>