@model CoursesIndexModel


<section id="courses">
    <div class="container">
        <div class="breadcrumbs">



            <a class="home-and-contact" asp-controller="Default" asp-action="Home">

                <i class="fa-solid fa-house"></i>
                <p class="home">Home</p>
            </a>

            <i class="fa-solid fa-angles-right"></i>
            <p class="current-page">Courses</p>


        </div>




        <div class="filters">
            <div class="header">
                <h1 class="my5">Courses</h1>
            </div>

            <div class="dropdown-links">
                <div class="dropdown">
                    <button class="dropdown-btn">All categories<i class="fa-regular fa-arrow-down"></i></button>
                    <div class="dropdown-content">
                        <a href="#" data-filter="all">All Courses</a>
                        <a href="#" data-filter="bestsellers">Bestsellers</a>
                        <a href="#" data-filter="non-bestsellers">Non-Bestsellers</a>
                    </div>
                    </<div>
                    </div>


                    <div class="search">
                        <input id="courseSearchInput" type="text" placeholder="Search for courses">
                        <button class="btn-search" id="courseSearchButton"><i class="fa-regular fa-search"></i></button>
                    </div>
                </div>

               
            </div>

             <span class="information">

            @if (ViewData["Status"]?.ToString() == "ConnectionFailed")
            {
                <span class="alert alert-danger">
                    Unable to contact the server. Please try again later.
                </span>
            }
            else if (ViewData["Status"]?.ToString() == "Unauthorized")
            {
                <span class="alert alert-danger">
                    An error occurred. Please contact web admin.
                </span>
            }
        </span>

            <div class="courses">

                @foreach (var course in Model.Courses)
                {
                    <a asp-action="Details" asp-controller="Courses" asp-route-id="@course.Id">

                        <div class="course-card">
                            <div class="course-card_img">
                                <img class="img-card" src="~/images/courses/@course.Img" alt="Course card">
                                @if (course.IsBestseller)
                                {
                                    <div class="bestseller">
                                        <p>Bestseller</p>
                                    </div>
                                }
                                <img class="bookmark" src="images/courses/bookmark.svg" alt="bookmark">
                            </div>
                            <div class="course-card-content">
                                <h2 class="h5">@course.Title</h2>
                                <p class="text-s">@course.Author</p>
                                <div class="price">

                                    @if (course.DiscountPrice <= 0)
                                    {
                                        <p class="original-price">$@course.Price</p>
                                    }

                                    @if (course.DiscountPrice > 0)
                                    {

                                        <p class="original-price"></p>
                                        <p class="discounted-price">$@course.DiscountPrice</p>
                                        <p class="discounted-price-with-line">$@course.Price</p>
                                    }
                                </div>

                            </div>
                            <div class="line"></div>
                            <div class="course-card_icons">
                                <div>
                                    <i class="fa-regular fa-clock"></i>
                                    <p>@course.Hours hours</p>
                                </div>
                                <div>
                                    <i class="fa-regular fa-thumbs-up"></i>
                                    <p>
                                        @($"{course.LikesInProcent * 100:0}%")
                                        @($"{course.LikesInNumbers / 1000:N1}K")
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>

                }

            </div>







            <nav aria-label="course pagination">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>



            <div class="get-started">
                <div class="text-box">
                    <p>Ready to get started?</p>
                    <h5>Take Your<span>Skills</span> to the Next Level</h5>
                    <a class="btn-theme" href="#">Work with us</a>
                </div>
                <div class="image-box">
                    <img src="" alt="banner-illustration" id="illustration">
                </div>
            </div>


        @* @await Html.PartialAsync("~/Views/Shared/Sections/_CoursePartial.cshtml")
        @await Html.PartialAsync("~/Views/Shared/Sections/_GetStartedPartial.cshtml") *@
    </div>

</section>

